body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 500px;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box{
    background-color: red;
    width: 100px;
    height: 100px;
}

.area .box-center{
    display: flex;
    justify-content: space-between;
    width: 100%;
}